.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    input {
      width: 100%;
      padding: 8px 12px;
      margin: 8px 0;
      box-sizing: border-box;

      border: none;
      border-bottom: 1px solid #fff;
      background-color: transparent;

      font-size: 16px;
      color: #fff;
      text-align: center;
      outline: none;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;

      &:focus {
        border-bottom-color: #0070f3;
      }

      &::placeholder {
        color: rgba(13, 23, 31, 0.5);
        text-align: center;
      }
    }
  }
}
